@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ElectronicsShoppingMVC.Models.Television

@using(var db = new ElectronicsShoppingContext())
{
    <div class="container">
        <div class="row">

            @{
                var result = (from i in db.Televisions
                              where i.CategoryId == 3
                              select i);
            }

    @foreach (var item in result)
    {
         <div class="col">
          <div class="card" style="width:400px ">
            <img class="card-img-top" src="@item.Url" alt="Card image" style="width:400px" height="300px">
            <div class="card-body">
              <h4 class="card-title">@item.Brand @item.Model</h4>
              <p class="card-text">Rs. @item.Price</p>
              <a href="#" class="btn btn-primary">See Details</a>
            </div>
          </div>
          <br>
         </div>
         
    }
    </div>
    </div>
}